*,*::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    --Blue: rgb(51, 122, 235);
    --Red: rgb(255, 26, 64);
    --Reda: rgba(191, 191, 191, 0.15);
    --RedaL: rgba(178, 178, 178, 0.447);
    overflow-x: hidden;
}

@media all and (max-width: 1900px) {
    body{
        width: 100%;
        background-color: rgb(38, 38, 38);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(204, 204, 204);
        font-size: 14px;
        background-image: url("pictures/background.webp");
        background-attachment:fixed;
        background-size: 35%;
        overflow-x: hidden;
        transition: background-image .5s ease-in-out;
    }

    .navbar{
        position: absolute; 
        top: 5700px; 
        left:250px;
        text-align: center;
    }
    .navbar a{
        margin: 50px;        
        color:var(--Red);
    }
    .navbar a:hover{
        cursor: pointer;
    }
    #preloader {
        position: fixed;
        z-index:20;
        top:-50%;
        width: 200%;
        height: 200%;
        background-color: rgb(38, 38, 38);
        background-size: 15%;
        overflow: hidden; /* Prevent overflow */
    }
    
    #pre{
        width: 10%;
        position: fixed;
        z-index:20;
        top:320px;
        left: 550px;
    }
    
    #ball{
        width: 10%;
        position: fixed;
        z-index:21;
        top: 110px;
        left: 550px;
        animation: b;
        animation: bounce 0.7s; 
        animation-direction: alternate; 
        animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
        animation-iteration-count: infinite; 
    }
    
    @keyframes bounce { 
        from { 
            transform: translate3d(0, 0, 0); 
        } 
        to { 
            transform: translate3d(0, 200px, 0); 
        } 
    } 
    
    ul,li{
        display: inline-block;
        margin: 2%;
    }
    

    b, h1{
        color: rgb(255, 201, 192);
    }
    h2{
        color: rgb(95, 122, 173);
        text-align: left;
    }
    #mainBody{
        border: 1px solid var(--Blue);
        position: relative;
        margin: 100px 200px;
        padding: 50px;
        display: block;
        background-color: var(--Reda);
        text-align: center;
    }
    .skills button{
        background-color: rgb(82, 82, 82);
        padding: 0.3rem 1.2rem;
        margin-top: 0.3rem;
        border: none;
        border-radius: 45%;
        color: rgb(204, 204, 204);
        filter: drop-shadow(2px 2px 0px var(--Red));
    }
    .icons{
        display: block;
        margin-top: -10px; 
        font-size: 1.3rem;
        position: absolute;
        z-index: 4;
    }
    span{
        color: var(--Red);
        margin-right: 14px;
    }
    p{
        text-align: justify;
    }
    .name{
        display: inline-block; 
        justify-items: center;
        margin-bottom: 35px;
    }
    .header{
        display: flex;
        margin: 100px 250px 80px 250px;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    .profile{
        width: 450px;
    }
    .item{
        width: 30%;
        position: absolute;
        top: -70px;
        right: 40px;
        z-index: 5;
        filter: drop-shadow(2px 2px 0px var(--Red));
    }
    .cover{
        z-index: 3; 
        width: 60%;  
        border: 3px solid white;
    }
    .avatar{
        width: 6%;
        position: absolute; 
        z-index: 3; 
        left: 590px; 
        top:1030px; 
        border: 3px solid white; 
        border-radius: 50%;
    }
    .shop{
        z-index: 3; 
        width: 60%;  
    }

    .bg1{
        width: 20%;
        position: absolute;
        right: 0;
        top: 30px;
        filter: drop-shadow(-5px -5px 0px var(--Red));
        z-index: 4; 
    }
    .bg2{
        width: 26%;
        position: absolute;
        top: 0px;
        left: 0px;
        filter: drop-shadow(5px 5px 0px var(--Blue));
        z-index: 4;

    }
    .bg3{
        width: 3%;
        position: absolute;
        top: 400px;
        left:135px;
        filter: drop-shadow(-3px -3px 0px var(--Red));
        z-index: 5;
    }
    .bg4{
        width: 14%;
        position: absolute;
        z-index: 4;
        top: 1050px;
        left: 0px;
        filter: drop-shadow(5px 5px 0px var(--Red));
    }
    .bg5{
        width: 13%;
        position: absolute;
        z-index: 4;
        top: 2300px;
        left: 0px;
        filter: drop-shadow(4px 0px 0px var(--Red));
    }
    .bg6{
        width: 13%;
        position: absolute;
        z-index: 4;
        top: 2320px;
        left: 0px;
        filter: drop-shadow(3px -3px 0px var(--Blue));
    }
    .bg7{
        width: 18%;
        position: absolute;
        z-index: 4;
        top: 1600px;
        right: 0;
        filter: drop-shadow(-5px -5px 0px var(--Blue));
    }
    .bg8{
        width: 16%;
        position: absolute;
        z-index: 4;
        top: 2700px;
        left: 0px;
        filter: drop-shadow(5px 5px 0px var(--Blue));
    }
    .bg9{
        width: 12%;
        position: absolute;
        z-index: 4;
        top: 4930px;
        right: 0;
        filter: drop-shadow(-4px -4px 0px var(--Red));
    }
    .bg12{
        width: 28%;
        position: absolute;
        z-index: 4;
        top: 4000px;
        left: 0px;
        filter: drop-shadow(5px 5px 0px var(--Blue));
    }
    .bg11{
        width: 12%;
        position: absolute;
        z-index: 4;
        top: 4670px;
        right: 0;
        filter: drop-shadow(-5px -5px 0px var(--Bluw));
    }
    
    .bg10{
        width: 10%;
        position: absolute;
        z-index: 4;
        top: 3670px;
        right: 0;
        filter: drop-shadow(-4px -4px 0px var(--Red));
    }
    .head1{
        width: 58%;
        position: absolute;
        z-index: -3;
        top: -12%;
        transform: translateX(-50%); 
        left: 0%;
        filter: drop-shadow(2px 2px 0px var(--Red));
    }
    .head2{
        width: 58%;
        position: absolute;
        z-index: -3;
        top: -2.5%;
        transform: translateX(50%); 
        right: 0%;
        filter: drop-shadow(2px 2px 0px var(--Red));
    }
    .head3{
        width: 58%;
        position: absolute;
        z-index: -3;
        top: -8%;
        transform: translateX(-50%); 
        left: 0%;
        filter: drop-shadow(2px 2px 0px var(--Red));
    }

    .head4{
        width: 58%;
        position: absolute;
        z-index: -3;
        top: -14.5%;
        transform: translateX(50%); 
        right: 0%;
        filter: drop-shadow(2px 2px 0px var(--Red));
    }

    .head5{
        width: 58%;
        position: absolute;
        z-index: -3;
        top: -7.5%;
        transform: translateX(-50%); 
        left: 0%;
        filter: drop-shadow(2px 2px 0px var(--Red));
    }
    
    .foot1{
        width: 100%;
        position: absolute;
        z-index: -2;
        filter: drop-shadow(-5px -5px 0px var(--Red));
    }
    .foot2{
        width: 100%;
        position: absolute;
        z-index: -3;
        filter: drop-shadow(-5px -5px 0px var(--Blue));
    }
    .footer{
        position: absolute; 
        top: 5780px; 
        left: 550px;
        text-align: center;
    }
    footer{
        margin-top: -100px;
    }





    .container{
        width: 100%;
        text-align: center;
        align-items: center;
        height: 500px;
    }
    #gallary{
        display: inline-flex;
        position: absolute;
        width: 70%;
        z-index: 11;
    }
    
    #slide{
        display: none;
    }
    
    .prepreactive, .proproactive{
        opacity: 0;
        position: absolute;
        z-index: 10;
        left: 215px; 
        right: 100px;
        width: 20%;
        transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    }
    
    .preactive{
        position: absolute;
        z-index: 11;
        top: 210px;
        left: 200px; 
        width: 35%;
        opacity: 50%;
        transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);   
        transform: translateX(-50%); 
    }
    
    .active{
        position: absolute;
        z-index: 12;
        left: 215px; 
        right: 100px;
        width: 50%;
        box-shadow: 2px 2px 40px black;
        transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    }
    .proactive{
        position: absolute;
        z-index: 11;
        top: 210px;
        right: 200px;
        width: 35%;
        opacity: 50%;
        transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
        transform: translateX(50%);
    }
    
    
    .control_right{
        position: absolute;
        z-index: 12;
        top: 350px;
        right: -60px;
        width: 55%;
        background-color: none;
    }
    .control_i{
        font-size: 30px;
        opacity: .4;
        cursor: pointer;
    }
    .control_i:hover, .control_i:hover{
        opacity: .8;
    }
    
    .control_left{
        position: absolute;
        z-index: 12;
        top: 350px;
        left: -60px;
        width: 55%;
        background-color: none;
    }





    #modeToggleLight {
        width: 70px;
        height: 30px;
        top: 50px;
        left: 1080px;
        position: absolute;
        z-index: 8;
        background: #d8d8d8;
        border-radius: 200px;
        box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(241, 241, 241, 0.4);
        cursor: pointer;
        transition: 1s;
    }
    
    #modeToggleDark {
        width: 70px;
        height: 30px;
        top: 50px;
        left: 1080px;
        position: absolute;
        z-index: 8;
        background: #444444;
        border-radius: 200px;
        box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
        cursor: pointer;
        transition: 1s;
    }
    
    @keyframes circleDark {
        0%   {background: linear-gradient(180deg, #ffcc89, #d8860b); left: 1082px;}
        10%  {background: linear-gradient(180deg, #777, #242424)}
        100%  {background: linear-gradient(180deg, #777, #242424); left: 1122px}
    }
    
    @keyframes circleLight{
        0%  {background: linear-gradient(180deg, #777, #242424); left: 1122px}
        10% {background: linear-gradient(180deg, #ffcc89, #d8860b)}
        100% {background: linear-gradient(180deg, #ffcc89, #d8860b); left: 1082px;}
    }
    
    
    #circle{
        width: 25px;
        height: 25px;
        position: absolute;
        top: 52.5px;
        left:1122px;
        cursor: pointer;
        z-index: 9;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        background: linear-gradient(180deg, #777, #242424);
    }
    
    
    
    #sunLight, #sunDark, #moonLight, #moonDark {
        position: absolute;
        width: 18px;
        top: 55px;
        z-index: 10;
        transition: 1s;
        cursor: pointer;
    }
    
    #sunLight {
        left: 1085.5px;
    }
    
    #sunDark {
        left: 1085.5px;
    }
    
    #moonLight {
        left: 1126px;
    }
    
    #moonDark {
        left: 1126px;
    }
    


    


}


@media all and (max-width: 800px) {
    body{
        width: 100%;
        font-size: 12px;
        background-size: 85%;
    }
    #preloader{
        position: fixed;
        z-index:10;
        top:-50%;
        width: 100%;
        background-color: rgb(38, 38, 38);
        background-size: 85%;
    }
    
    #pre{
        width: 20%;
        position: fixed;
        z-index:11;
        top:320px;
        left: 150px;
    }
    #ball{
        width: 20%;
        position: fixed;
        z-index:11;
        top: 120px;
        left: 150px;
        animation: b;
        animation: bounce 0.7s; 
        animation-direction: alternate; 
        animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
        animation-iteration-count: infinite; 
    }
    
    @keyframes bounce { 
        from { 
            transform: translate3d(0, 0, 0); 
        } 
        to { 
            transform: translate3d(0, 200px, 0); 
        } 
    } 

    b, h1{
        color: rgb(255, 201, 192);
    }
    h2{
        color: rgb(171, 200, 255);
        text-align: left;
    }
    #mainBody{
        border: 1px solid var(--Blue);
        margin: 35px 35px;
        padding: 8px;
        display: block;
        text-align: center;
    }
    .navbar{
        top: 4700px; 
        left:0px;
        text-align: center;
    }
    .navbar a{
        margin: 8px;        
        color:var(--Red);
        font-size: 10px;
    }
    .icons{
        display: block;
        margin-top: -22px; 
        font-size: 1.3rem;
        position: absolute;
        z-index: 4;
    }
    span{
        color: var(--Red);
        margin-right: 14px;
    }
    p{
        text-align: justify;
    }
    .name{
        display: inline-block; 
        justify-items: center;
        align-items: center;
        margin-bottom: 35px;
    }
    .header{
        display: block;
        margin: 120px 25px;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    .profile{
        width: 300px;
        margin-left: 10px;
    }
    .cover{
        z-index: 3; 
        width: 60%;  
        border: 3px solid white;
    }
    .avatar{
        width: 8%;
        position: absolute; 
        z-index: 3; 
        left: 173px; 
        top:1042px; 
        border: 3px solid white; 
        border-radius: 50%;
    }
    .shop{
        z-index: 3; 
        width: 60%;  
    }
    .item{
        width: 45%;
        position: absolute;
        top: 0px;
        right: 10px;
        z-index: 5;
        filter: drop-shadow(2px 2px 0px var(--Red));
    }
    .bg1 {
        position: absolute;
        top: 410px; 
        right: 0; 
        width: 30%;
        filter: drop-shadow(-5px -5px 0px var(--Red));
        z-index: 4;
    }
    .bg2{
        width: 60%;
        position: absolute;
        top: 0px;
        left: 0px;
        filter: drop-shadow(5px 5px 0px var(--Blue));
        z-index: 4;
    }
    .bg3{
        width: 100%;
        position: absolute;
        z-index: 4;
        top: -10px;
        left: -400px;
        filter: drop-shadow(-3px -3px 0px var(--Red));
    }
    .bg4{
        width: 15%;
        position: absolute;
        z-index: 4;
        top: 1290px;
        left: 0px;
        filter: drop-shadow(4px 4px 0px var(--Red));
    }
    .bg5{
        width: 10%;
        position: absolute;
        z-index: 4;
        top: 2450px;
        left: 0px;
        filter: drop-shadow(2px 0px 0px var(--Red));
    }
    .bg6{
        width: 5%;
        position: absolute;
        z-index: 4;
        top: 2465px;
        left: 10px;
        filter: drop-shadow(2px 0px 0px var(--Blue));
    }
    .bg7{
        width: 20%;
        position: absolute;
        z-index: 4;
        top: 1800px;
        float: right;
        filter: drop-shadow(-3px -3px 0px var(--Blue));
    }
    .bg8{
        width: 15%;
        position: absolute;
        z-index: 4;
        top: 2745px;
        left: 0px;
        filter: drop-shadow(3px 3px 0px var(--Blue));
    }
    .bg9{
        width: 12%;
        position: absolute;
        z-index: 4;
        top: 4500px;
        float: right;
        filter: drop-shadow(-2px -2px 0px var(--Red));
    }
    .bg10{
        width: 8%;
        top: 3100px;
    }
    .bg12{
        top: 3500px;
    }
    .head1{
        width: 85%;
        position: absolute;
        z-index: -3;
        top: -12%;
        transform: translateX(-50%); 
        left: 20%;
        filter: drop-shadow(2px 2px 0px var(--Red));
    }
    .head2{
        width: 85%;
        position: absolute;
        z-index: -3;
        top: -2.5%;
        transform: translateX(50%); 
        right: 20%;
        filter: drop-shadow(2px 2px 0px var(--Red));
    }
    .head3{
        width: 85%;
        position: absolute;
        z-index: -3;
        top: -6%;
        transform: translateX(-50%); 
        left: 20%;
        filter: drop-shadow(2px 2px 0px var(--Red));
    }
    
    .foot1{
        width: 100%;
        position: absolute;
        z-index: -2;
        filter: drop-shadow(-3px -3px 0px var(--Red));
    }
    .foot2{
        width: 100%;
        position: absolute;
        z-index: -3;
        filter: drop-shadow(-3px -3px 0px var(--Blue));
    }
    .footer{
        position: absolute; 
        top: 4510px; 
        left: 35%;
        font-size: 8px;
        text-align: center;
        font-size: 8px;
    }
    footer{
        margin-top: -10px;
    }

    .preactive{
        width: 45%;
        left: 60px;
        top: 130px;
    }
    
    .active{
        width: 65%;
        top: 90px;
        left: 60px; 
        right: 0px;
        transform: translateX(0%);
    }
    .proactive{
        width: 45%;
        top: 130px;
        right: 60px;
    }
    .control_left, .control_right{
        top: 200px;
    }

}


@media all and (max-width: 500px) {
    #pre{
        width: 20%;
        top:400px;
        left: 170px;
    }
    #ball{
        width: 20%;
        top: 200px;
        left: 170px;
    }
    .header{
        margin: 200px 25px;
    }
    .profile{
        width: 380px;
    }
    .head1{
        top: -15%;
    }
    .head2{
        top: -3%;
    }
    .head3{
        top: -9%;
    }
    .head4{
        top: -10%;
    }
    .head5{
        top: -6%
    }
    .bg1 {
        top: 600px; 
    }
    .bg2{
        width: 65%;
    }
    .bg4{
        top: 1450px;
    }
    .bg7{
        top: 1950px;
    }
    .bg8{
        top: 2760px;
    }
    .bg9{
        top: 4125px;
    }
    .bg10{
        filter: drop-shadow(-2px -2px 0px var(--Red));
    }
    .skills button{
        font-size: 12px;
    }

    .container{
        height: 250px;
    }

    .footer{
        top: 4390px;
    }
    .navbar{
        top: 4360px; 
        left:38px;
        text-align: center;
    }
    .navbar a{
        margin: 10px;        
        color:var(--Red);
        font-size: 10px;
    }
    .control_left, .control_right{
        top: 185px;
    }
}

@media  all and (max-width: 415px) {
    #pre{
        width: 20%;
        top:400px;
        left: 170px;
    }
    #ball{
        width: 20%;
        top: 200px;
        left: 170px;
    }
    
    .header{
        margin: 180px 25px;
    }
    .bg2{
        width: 65%;
    }

    .bg1{
        top: 580px;
    } 
    .head1{
        top: -14%;
    }
    .head3{
        top: -7%;
    }
    .head4{
        top: -9.5%;
    }
    .bg8{
        top: 2750px;
    }
    .bg9{
        top: 4150px;
    }
    .navbar{
        top: 4445px;
    }
    .skills button{
        font-size: 12px;
    }
    .control_left, .control_right{
        top: 190px;
    }
    .footer{
        top: 4475px;
    }
}

@media all and (max-width: 395px) {
    #pre{
        width: 20%;
        top:450px;
        left: 145px;
    }
    #ball{
        width: 20%;
        top: 250px;
        left: 145px;
    }
    .header{
        margin: 170px 25px;
    }
    .profile{
        width: 350px;
    }
    .bg1 {
        top: 500px; 
    }
    .bg2{
        width: 65%;
    }
    .bg4{
        top: 1350px;
    }
    .bg7{
        top: 1850px;
    }
    .bg8{
        top: 2800px;
    }
    .bg9{
        top: 4165px;
    }
    .head1{
        top: -12%;
    }
    .head2{
        top:-2.5%
    }
    .head3{
        top: -6.5%;
    }
    .head4{
        top: -7.5%;
    }
    .head5{
        top: -5%
    }
    .navbar{
        top: 4350px;
    }
    .skills button{
        font-size: 10px;
    }
    .container{
        height: 230px;
    }
    .footer{
        top: 4375px;
    }
}

@media  all and (max-width: 365px) {
    #pre{
        width: 20%;
        top:350px;
        left: 150px;
    }
    #ball{
        width: 20%;
        top: 150px;
        left: 150px;
    }
    .bg2{
        width: 65%;
    }
    .header{
        margin: 140px 25px;
    }
    .profile{
        width: 320px;
    }
    .head1{
        top: -10%;
    }
    .head2{
        top: -2%;
    }
    .head3{
        top: -5%;
    }
    .bg1 {
        top: 500px; 
    }
    .bg2{
        width: 65%;
    }
    .bg4{
        top: 1350px;
    }
    .bg7{
        top: 1750px;
    }
    .bg8{
        top: 2760px;
    }
    .bg9{
        top:4090px;
    }
    .head4{
        top: -6%;
    }
    .head5{
        top: -5%
    }
    .navbar{
        top: 4275px;
        left: 10px;
    }
    .skills button{
        font-size: 10px;
    }
    .container{
        height: 190px;
    }
    .control_left, .control_right{
        top: 187px;
    }
    .footer{
        top: 4300px;
    }
}
